	.make_round{
		border-radius: 45px;
	}
	p{
		font-size:30px;

	}
	body{
		padding: 0px;
		margin: 0px;
	}
	a{
		margin: 0px;
		text-decoration: none;
		font-size: 20px;
		color:black;
	}
	button:active{
		padding-top: 10px;
		padding-left: 10px;
	}
	@media screen and (min-width:1101px){
		#main_content{
			display: inline-block;
			margin-left: 15%;
			width: 70%;
			height: wrap-content;
			background-color: none;
			padding: 0px;
		}
	}
	@media screen and (max-width:1100px){
		#main_content{
			width: 100%;
			height: wrap-content;
			background-color: none;
			padding: 0px;
		}
	}
	.discord_side{
		color: white;
		float: left;
		margin:0px;
		width: 25%;
		height: 100px;
		background-color: #8C9EFF;
		display: inline-block;
		border-color: #8d9eff;
		border-width: 5px;
		font-size: 20px;
		cursor: pointer;
	}
	.discord_center{
		color: white;
		float: left;
		margin:0px;
		width: 50%;
		height: 100px;
		background-color: #8C9EFF;
		display: inline-block;
		border-color: #8d9eff;
		border-width: 5px;
		font-size: 20px;
		cursor: pointer;
	}
	.minecraft_side{
		color: white;
		float: left;
		margin:0px;
		width: 25%;
		height: 100px;
		background-color: #74ed23;
		display: inline-block;
		border-color: #74fd23;
		border-width: 5px;
		font-size: 20px;
		cursor: pointer;
	}
	.minecraft_center{
		color: white;
		float: left;
		margin:0px;
		width: 50%;
		height: 100px;
		background-color: #74ed23;
		display: inline-block;
		border-color: #74fd23;
		border-width: 5px;
		font-size: 20px;
		cursor: pointer;
	}
	.mindustry_side{
		color: white;
		float: left;
		margin:0px;
		width: 25%;
		height: 100px;
		background-color: #F86A36;
		display: inline-block;
		border-color: #F87A36;
		border-width: 5px;
		font-size: 20px;
		cursor: pointer;
	}
	.mindustry_center{
		color: white;
		float: left;
		margin:0px;
		width: 50%;
		height: 100px;
		background-color: #F86A36;
		display: inline-block;
		border-color: #F87A36;
		border-width: 5px;
		font-size: 20px;
		cursor: pointer;
	}
	.horizontal_container{
		margin: 0px;
		font: comic_sans;
		display: inline-block;
		width: 100%;
		font-size: 48px;
		margin: 0px;
		font: comic_sans;
		float:left	;
		text-align: center;
		background-color: black;
		font-size: 20px;
	}

	.header_full{
		height:75px;
		margin: 0px;
		font: comic_sans;
		display: inline-block;
		width: 100%;
		font-size: 48px;
		margin: 0px;
		font: comic_sans;
		float:left	;
		text-align: center;
		background-color: #ffffff;
		border-color: #ffefff;
		border-width: 5px;
	}
	.desc{
		font-size: 18px;
	}
	.side_item_template{
		color: white;
		float: left;
		margin:0px;
		width: 25%;
		height: 100px;
		display: inline-block;
		border-width: 5px;
		font-size: 20px;
		cursor: pointer;
	}	
	.center_item_template{
		color: white;
		float: left;
		margin:0px;
		width: 50%;
		height: 100px;
		display: inline-block;
		border-width: 5px;
		font-size: 20px;
		cursor: pointer;

	}
	#point{
		cursor: pointer;
	}